<script>
    window.appBootstrap = {
        editorConfig: {
            basePath: '{{ pluginUrl }}/epiceditor',
            clientSideStorage: false,
            file: {
                name: 'epiceditor',
                defaultContent: '',
                autoSave: 5000
            },
            theme: {
                base: '{{ pluginUrl }}/public/vendor/epiceditor/themes/base/epiceditor.css',
                preview: '{{ pluginUrl }}/public/vendor/epiceditor/themes/preview/github.css',
                editor: '{{ pluginUrl }}/public/vendor/epiceditor/themes/editor/epic-light.css'
            },
            button: {
                preview: true,
                fullscreen: false
            },
            focusOnLoad: true
        }
    }
</script>

<script type="text/html" id="navbarPagesView">
    <div class="navbarPages-folder">
        <i class="fa fa-folder-o navbar-itemTypeIcon"></i>
        <%= id %>
        <button class='new' title='New'><i class="fa fa-plus"></i></button>
    </div>
    <ul></ul>
</script>

<script type="text/html" id="navbarPageView">
    <a href="#" class='post'>
        <div class="title">
            <i class="fa fa-file-text-o navbar-itemTypeIcon"></i>
            <%= file %>
        </div>
        <div class="file">
            <%= title %>
        </div>
    </a>
    <button class='view' title="View"><i class="fa fa-eye"></i></button>
    <button class="delete" title="Delete"><i class="fa fa-trash-o"></i></button>
</script>
<script type="text/html" id="controlsView">
    <a href="{{ base_url }}/admin/logout" class="logout btn"
       title="Logout"><i class="fa fa-rotate-180 fa-sign-out"></i></a>
</script>

<div id="app">
    <div id="saving" class="running" style="display: none;">Saving...</div>
    <div id="sidebar">
        <div id='controls' class="controls"></div>
        <div id="nav" class="nav"></div>
    </div>
    <div id="main">
        <div id="editor"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.3.0/backbone.marionette.js"></script>
<script src="{{ pluginUrl }}/public/vendor/epiceditor/js/epiceditor.min.js"></script>
<script src="{{ pluginUrl }}/public/editor.js"></script>
