<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Markdown Editor Test</title>
    {#<link rel="stylesheet" href="{{ pluginUrl }}/public/styles.css" type="text/css" />#}
    <meta name="robots" content="noindex, nofollow" />

    <link rel="stylesheet" type="text/css" href="{{ pluginUrl }}/bower_components/jasmine/dist/jasmine-standalone-2.1.3/lib/jasmine-2.1.3/jasmine.css">
</head>
<body>

    {% include 'pages/partials/editor-core.twig' %}

    <script type="text/javascript" src="{{ pluginUrl }}/bower_components/jasmine/dist/jasmine-standalone-2.1.3/lib/jasmine-2.1.3/jasmine.js"></script>
    <script type="text/javascript" src="{{ pluginUrl }}/bower_components/jasmine/dist/jasmine-standalone-2.1.3/lib/jasmine-2.1.3/jasmine-html.js"></script>
    <script type="text/javascript" src="{{ pluginUrl }}/bower_components/jasmine/dist/jasmine-standalone-2.1.3/lib/jasmine-2.1.3/boot.js"></script>
    <script type="text/javascript" src="{{ pluginUrl }}/bower_components/jasmine-jquery/lib/jasmine-jquery.js"></script>

    <script src="{{ pluginUrl }}/public/tests.js"></script>

</body>
</html>